.prelogin_background {
    background-image:url(skll_home_bg.jpg); 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
    height: 92vh;
    width: 100vw;
}

.fs_div {
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
    height: 92vh;
    width: 100vw;
}

html { 
    scroll-behavior: smooth; 
}

.results_container {
    text-align: center;
    align-items: center;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 20px;
    
}