{% extends "layout.html" %}

{% block title %}
    Homepage
{% endblock %}

{% block style %}
{% endblock %}

{% block header%}
    {{header}}
{% endblock %}

{% block main %}


<div class="prelogin_background" style="position: relative; height: 100vh;" id='1'>
    <div style="position: absolute; top: 40%; left: 50%; transform: translate(-50%, -50%);">
        <div style="text-align: center;">
            <img src="static/skll_logo_large.png">
            <h3 class="uk-text uk-text-lead">See how your CV will perform before you apply</h3>
            <a class="uk-button uk-button-primary" href="#2" uk-scroll>Learn More</a>
        </div>
    </div>
</div>
<div class="fs_div" style="background-image: url(static/skll_home_bg2.jpg)" id='2'>
    <div style="padding-top: 130px;" class="uk-align-center uk-padding-small">
        <div class="uk-card uk-card-primary uk-card-body uk-width-1-3@m">
            <h4>Get ahead of the system</h4>
            <p>Hiring managers are increasingly using computers to filter the most (on paper) suitable candidates.<br><br>By applying the same principles to your CV before you make the application, you can be sure to give yourself the best chance of beating the filter and getting an interview.<br><br><a href="#3" uk-scroll>How does it work?</a></p>            
        </div>
    </div>
</div>
<div class="fs_div" style="background-image: url(static/skll_home_bg3.jpg)" id='3'>
    <div style="padding-top: 130px;" class="uk-align-center uk-padding-small">
        <div class="uk-card uk-card-primary uk-card-body uk-width-1-3@m">
            <h4>Keywords are everything</h4>
            <p>Register an account with your CV and our algorithm will extract the key skills ready to compare to a job description.<br><br>Once you've found a role you'd like to apply for simply paste in the description and you'll get reccomendations what you can do to improve your CV for that particular role.</p>
            <a style="text-align: center" href="#4" uk-scroll>Register your account</a>
        </div>
    </div>
</div>
<div class="fs_div" style="background-image: url(static/skll_home_bg4.jpg)" id='4'>
    <div style="position: absolute; top: 340%; left: 50%; transform: translate(-50%, -50%);">
        <div class="uk-card uk-card-default uk-card-body">
            <div class="uk-card uk-card-body">
                <a style="text-align: center;" class="uk-button uk-button-primary" href="/register">Register</a>
                <a style="text-align: center;" class="uk-button uk-button-primary" href="/login">Login</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}