{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
<div class="prelogin_background">
    <div class="uk-align-center uk-padding-large">
        <div class="uk-card uk-card-primary uk-card-body uk-width-1-3@m uk-card-hover uk-padding-medium">
            <h4 class="uk-card-title"> Create Your Profile </h4>
            <form action="/register" method="post" id="form" class="uk-form-stacked">
                    <div class="uk-margin">
                        <input autocomplete="off" autofocus class="uk-input" name="username" placeholder="Enter email" type="text" required>
                    </div>
                    <div class="uk-margin">
                        <input class="uk-input" name="password" placeholder="Password" type="text" required>
                    </div>
                    <div class="uk-margin">
                        <input class="uk-input" name="city" placeholder="City" type="text" required>
                    </div>
                    <div class="uk-margin">
                    <textarea autocomplete="off" placeholder="Paste in your CV" class="uk-textarea" name="CV" type="text" rows="8" cols="80"></textarea>
                    </div>
                    <button class="uk-button uk-button-primary uk-margin-small-bottom uk-align-center" type="submit">Register</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
